:root {
  /* Fundos */
  --cor-fundo-principal: #0B1221;
  --cor-fundo-secundario: #162238;
  --cor-navbar: #162238;

  /* Textos */
  --cor-texto-principal: #ffffff;
  --cor-texto-secundario: #b0b8c4;
  --cor-texto-terciario: #7f8a9a;
  --cor-texto-destaque: #2563EB;

;
  --font-medium: medium;
  --font-principal: "Poppins", sans-serif;

  /* Destaque */
  --cor-destaque: #2563EB;

  /* Botões */
  --cor-botao-primario: #2563EB;
  --cor-botao-primario-hover: #2563EB;
  --cor-texto-botao-primario: #ffffff;

  --cor-botao-secundario-borda: #00b4d8;
  --cor-texto-botao-secundario: #00b4d8;

  /* Cards */
  --cor-card-fundo: #131f33;
  --cor-card-borda: #1f2c44;
  --cor-card-hover: #182844;

  /* Ícones */
  --cor-icone: #00b4d8;
}


/* RESET BÁSICO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CONFIGURAÇÕES GERAIS */
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-principal);
  line-height: 1.5;
  overflow: hidden;    
}


.page {
  position: relative;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}



.bg-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: -1;
  will-change: transform;
  transform: translateZ(0)
  ;
  background:
  linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
  linear-gradient(to bottom, rgba(0, 0, 0, 0) 90%, #000 100%),
  url("../img/bg-mobile-main.webp") no-repeat center center / cover;
}



/* BOTÕES */
.acoes-rapidas {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
  text-decoration: none;
  cursor: pointer;
  color: var(--azul-primario);
  justify-content: center;

  & :hover {
    color: var(--azul-hover);
  }
}



