:root {
  /* FUNDOS */
  --bg-body: #0F172A;
  --bg-navbar: #162238;
  --bg-hero: #162238;
  --bg-section: #131f33;
  --bg-card: #0B1220;
  --bg-image: linear-gradient(
    to bottom,
    var(--text-secondary),
    #cfcfcf
  );

  /* TEXTOS */
  --text-primary: #FFFFFF;
  --text-secondary: #8ec0fd;
  --text-paragraph: #9CA3AF;
  --text-muted: #7F8A9A;

  /* ACENTO / DESTAQUE */
  --accent: #06AFDB;
  --accent-hover: #3B82F6;
  --gradient-accent: linear-gradient(
  135deg,
  var(--accent),
  var(--btn-outline-border),
  var(--accent-hover));
  --gradient-accent-text-animated: linear-gradient(
  90deg,
  #3B82F6,
  #60A5FA,
  #38BDF8);
  --border: #9ca3afb7;

  /* BOTÕES */
  --btn-primary-bg: var(--accent);
  --btn-primary-text: #FFFFFF;

  --btn-outline-border: var(--accent);
  --btn-outline-text: var(--accent);

  /* ÍCONES */
  --icon-default: #cfcfcf;
  --icon-accent: var(--accent);

  /* TIPOGRAFIA */
  --font-main: "Poppins", sans-serif;

  /* UI */
  --radius-sm: 8px;
  --radius-md: 16px;
  --radius-lg: 24px;
}



/* RESET BÁSICO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CONFIGURAÇÕES GERAIS */
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-main);
  line-height: 1.5;
  overflow-x: hidden; 
  
  background-color: var(--bg-body);
  background-image: radial-gradient(
    circle at top,
    rgba(59, 130, 246, 0.12),
    transparent 70%
  );

  color: #E5E7EB;
}

.btn {
  padding: 0.75rem 1.5rem;
  border-radius: var(--radius-sm);
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}

.btn-primary {
  background: var(--btn-primary-bg);
  color: var(--btn-primary-text);
}

.btn-outline {
  border: 1px solid var(--btn-outline-border);
  color: var(--btn-outline-text);
  background: transparent;
}

.card {
  background-color: var(--bg-card);
  border-radius: var(--radius-md);
  padding: 2rem;
}



