#home {
  position: relative;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), linear-gradient(to bottom, rgba(0, 0, 0, 0) 90%, #000 100%), url(/portfolio/assets/img/bg-mobile-main.webp) no-repeat center center / cover;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100dvh;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  background-color: var(--cor-navbar);
  z-index: 1000;
}

.navbar-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-textual {
  font-size: 1.5rem;
  font-weight: var(--font-medium);
  color:var(--cor-texto-secundario);
}

.botao-tema {
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--cor-texto-botao-primario);
}

/* APRESENTAÇÃO */
.apresentacao {
  flex: 1;
  padding-top: 64px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;  
}

.container-foto {
  position: relative;
  width: 320px;
  height: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-foto img {
  width: 280px;
  height: auto;
  z-index: 2;
  position: relative;
  border-radius: 44%;
}

.forma-1 {
  position: absolute;
  width: 330px;
  height: 180px;
  background: linear-gradient(
    135deg,
    #4f7bffc2 0%,
    #6a5cff 45%,
    #3a3affb6 100%
  );
  border-radius: 60% 40% 60% 30% / 50% 60% 40% 70%;
  transform: translateY(20px);
  z-index: 0;
}

.forma-2 {
  position: absolute;
  width: 300px;
  height: 230px;
  background: linear-gradient(to left, #00b09b, #96c93d);
  border-radius: 40% 70% 50% 60% / 50% 50% 60% 50%;
  transform: translate(-15px);
  transform: translateY(25px);
  z-index: 1;
}

.forma {
  filter: blur(0.3px);
}


.nome-principal {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  color: var(--cor-texto-principal);
  font-weight: var(--font-medium);
}

.cargo {
  font-size: 1.2rem;
  font-weight: normal;
  color: var(--cor-texto-principal);
}

.paragrafo-apresentacao {
  color: var(--cor-texto-principal);
}

.botao {
  padding: 0.6rem 1.2rem;
  text-decoration: none;
  font-size: 0.9rem;
  border-radius: 4px;
}

.botao-download {
  background-color: var(--cor-botao-primario);
  color: var(--cor-texto-principal);
  border: 1px solid var(--cor-botao-primario);
  font-weight: var(--font-medium);
}

.botao-download:hover {
  background-color: transparent;
  border: 1px solid var(--cor-botao-primario);
  transition: 0.3s;
}

.botao-sobre {
  border: 1px solid var(--cor-botao-primario);
  color: var(--cor-texto-principal);
  font-weight: var(--font-medium);
}

.botao-sobre:hover {
  background-color: var(--cor-botao-primario);
}