.header {
  height: 56px;
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /*inset: 0 0 auto 0;*/
  height: 56px;
  z-index: 9999;

  background-color: var(--bg-navbar);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);

  backdrop-filter: blur(8px);
}

.top-bar-inner {
  max-width: 1200px;
  height: 100%;
  
  margin-inline: auto;
  padding-inline: 1.5rem;
  
  display: flex;
  align-items: center;
  justify-content: space-between;  
}

.logo {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--icon-default);
  letter-spacing: 1px;
  padding: 0 1rem;
}

.btn-icon {
  background: none;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  font-size: 1.5rem;
  color: var(--icon-default);
  font-weight: 700;
}

/* MENU FIXED BUTTOMS */

.buttom-menu {
  position: fixed;
  bottom: var(--space-2);

  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0.5rem;

  padding: 0.65rem 1rem;
  align-items: center;
  justify-content: center;

  background: rgba(20, 20, 30, 0.85);
  backdrop-filter: blur(10px);
  border-radius: 40px;
  z-index: 999;
}

.menu-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  color: #aaa;
  padding: 10px;
  border-radius: 50%;
  transition: 0.3s;
  text-decoration: none;
}

.menu-link i {
  font-weight: 600;
  font-size: 1.2rem;
}

.menu-link.active {
  color: #fff;
  background: linear-gradient(180deg, #06AFDB, #3B82F6);
  box-shadow: 0 0 16px rgba(124,124,255,.6);
}