.header {
  height: 56px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /*inset: 0 0 auto 0;*/
  height: 56px;
  z-index: 9999;

  background-color: var(--bg-navbar);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);

  backdrop-filter: blur(8px);
}

.navbar-inner {
  max-width: 1200px;
  height: 100%;
  
  margin-inline: auto;
  padding-inline: 1.5rem;
  
  display: flex;
  align-items: center;
  justify-content: space-between;  
}

.logo {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--icon-default);
  letter-spacing: 1px;
  padding: 0 1rem;
}

.btn-icon {
  background: none;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  font-size: 1.5rem;
  color: var(--icon-default);
  font-weight: 700;
}

