/* HEADER */
.cabecalho {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

header::before {
  content: "";
  position: absolute;
  top: -50%;
  left: 50%;
  width: 600px;
  height: 600px;

  background: radial-gradient(
    circle,
    rgba(49, 69, 121, 0.4),
    transparent 70%
  );

  transform: translateX(-50%);
  filter: blur(80px);
  opacity: 0.8;
}


/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  background-color: var(--cor-navbar);
}

.navbar-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-textual {
  font-size: 1.2rem;
  font-weight: var(--font-medium);
  color:var(--cor-texto-secundario);
}

.botao-tema {
  font-size: 1.2rem;
  background: none;
  border: none;
  cursor: pointer;
}

/* APRESENTAÇÃO */
.apresentacao {
  flex: 1;
  padding-top: 64px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.texto-introducao {
  font-size: 1rem;
  color: var(--cor-texto-secundario);
}

.nome-principal {
  font-size: 2rem;
  margin: 0.5rem 0;
  color: var(--cor-texto-principal);
  font-weight: var(--font-medium);
}

.cargo {
  font-size: 1rem;
  font-weight: normal;
  color: var(--cor-texto-secundario);
}

.botao {
  padding: 0.6rem 1.2rem;
  text-decoration: none;
  font-size: 0.9rem;
  border-radius: 4px;
}

.botao-download {
    background-color: var(--cor-botao-primario);
    color: var(--cor-texto-principal);
    border: 1px solid var(--cor-botao-primario);
    font-weight: var(--font-medium);
}

.botao-download:hover {
    background-color: transparent;
    border: 1px solid var(--cor-botao-primario);
    transition: 0.3s;
}

.botao-sobre {
    border: 1px solid var(--cor-botao-primario);
    color: var(--cor-texto-principal);
    font-weight: var(--font-medium);
}

.botao-sobre:hover {
    background-color: var(--cor-botao-primario);
}