.header {
  position: relative;
  z-index: 1000;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 56px;

  display: flex;
  align-items: center;

  background-color: var(--bg-navbar);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);

  backdrop-filter: blur(8px);
}

.navbar .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--icon-default);
  letter-spacing: 1px;
}

.btn-icon {
  background: none;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.5rem;
  color: var(--icon-default);
  font-weight: 700;
}

