

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  background-color: var(--cor-navbar);
  z-index: 1000;
}

.navbar-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-textual {
  font-size: 1.5rem;
  font-weight: var(--font-medium);
  color:var(--cor-texto-principal);
}

.botao-tema {
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--cor-texto-botao-primario);
  font-weight: var(--font-medium);
  padding: 0 1rem;
}

