#home {
  position: relative;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), linear-gradient(to bottom, rgba(0, 0, 0, 0) 90%, #000 100%), url(/portfolio/assets/img/bg-mobile-main.webp) no-repeat center center / cover;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100dvh;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  background-color: var(--cor-navbar);
  z-index: 1000;
}

.navbar-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-textual {
  font-size: 1.5rem;
  font-weight: var(--font-medium);
  color:var(--cor-texto-secundario);
}

.botao-tema {
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--cor-texto-botao-primario);
}

/* APRESENTAÇÃO */
.apresentacao {
  flex: 1;
  padding-top: 64px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;  
}

.foto-wrapper {
  position: relative;
  width: 300px;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forma-colorida {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    135deg,
    #a855f7,
    #6366f1,
    #22d3ee
  );

  border-radius: 50% 60% 45% 55% / 55% 45% 60% 50%;
  z-index: 1;
}

.foto-perfil {
  position: relative;
  width: 85%;
  height: auto;
  z-index: 2;
}


.nome-principal {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  color: var(--cor-texto-principal);
  font-weight: var(--font-medium);
}

.cargo {
  font-size: 1.2rem;
  font-weight: normal;
  color: var(--cor-texto-principal);
}

.paragrafo-apresentacao {
  color: var(--cor-texto-principal);
}

.botao {
  padding: 0.6rem 1.2rem;
  text-decoration: none;
  font-size: 0.9rem;
  border-radius: 4px;
}

.botao-download {
  background-color: var(--cor-botao-primario);
  color: var(--cor-texto-principal);
  border: 1px solid var(--cor-botao-primario);
  font-weight: var(--font-medium);
}

.botao-download:hover {
  background-color: transparent;
  border: 1px solid var(--cor-botao-primario);
  transition: 0.3s;
}

.botao-sobre {
  border: 1px solid var(--cor-botao-primario);
  color: var(--cor-texto-principal);
  font-weight: var(--font-medium);
}

.botao-sobre:hover {
  background-color: var(--cor-botao-primario);
}