.main {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 1.5rem;

  display: grid;
  gap: 3rem;

  border: 2px solid red;
  color: wheat;
}

.conteudo-sobre-mim {
  border: 2px solid blue;
  display: grid;
  gap: 0.5rem;
}

.itens-sobre {
  display: flex;
  justify-content: center;
}

.titulo-sobre {
  border: 2px solid green;
}

.imagem-sobre {
  border: 2px solid green;
}

.texto-sobre {
  border: 2px solid green;
}

.contato-sobre {
  border: 2px solid green;
}