.actions {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
}

.main {
  padding-top: 4rem;
}

.section {
  background-color: var(--bg-section);
  border-radius: var(--radius-lg);
  padding: 3rem;
  margin-top: 4rem;
}

.section--hero {
  background-color: var(--bg-hero); /* VERIFICAR SE NECESSARIO REMOÇÃO */
  box-shadow: var(--shadow-md);
}

.hero-content {
  display: grid;
  gap: 2rem;
  justify-items: center;
  text-align: center;
}

.hero-image {
  position: relative;
  width: 250px;
}

.profile-image {
  width: 100%;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}

.shape {
  position: absolute;
  inset: 0;
  border-radius: 50%;
  z-index: 1;
}

.shape-1 {
  background: linear-gradient(
    to bottom,
    var(--text-secondary),
    #cfcfcf
  );
}

.title {
  color: var(--text-primary);
}

.title--xl {
  font-size: 1.8rem;
}

.subtitle {
  color: var(--text-secondary);
}

.text {
  color: var(--text-paragraph);
}

.about-grid {
  display: grid;
  gap: 2rem;
  text-align: center;
}

.section-about {
  text-align: center;
}

.about-image img {
  border-radius: var(--radius-md);
  max-width: 300px;
}

.about-text {
  font-size: 0.9rem;
}

.icon-accent {
  color: var(--icon-accent);
  font-size: 1.5rem;
}

.about-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}


