.main {
  display: grid;
  grid-template-columns: auto 90dvw auto;
  gap: 1rem;
  margin-top: 1.2rem;
  color: var(--cor-texto-principal);
}

.conteudo-main {
  grid-column: 2;
}

/* APRESENTAÇÃO */
.apresentacao {
  min-height: 60dvh;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  gap: 1.5rem;
  text-align: center;
  background-color: #0B1221;
  padding: 3rem 1rem;  
}

.container-foto {
  position: relative;
  width: 250px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-foto img {
  width: 250px;
  height: auto;  
  z-index: 2;
  position: relative;
  border-radius: 50%;
  box-shadow: 0 0 12px #2564eb4b;
}

.forma-2 {
  position: absolute;
  width: 250px;
  height: 100%;
  background: linear-gradient(to bottom, #b0b8c4, #cfcfcf);

  border-radius: 50%;
  transform: translateY(-1px);
  z-index: 1;
}

.forma {
  filter: blur(0.3px);
}

.container-texto-apresentacao {
  gap: 2rem;
}

.bem-vindo {
  color: var(--cor-texto-principal);
}

.destaque-sou {
  color: var(--cor-texto-principal);
  font-weight: bold;
  text-shadow: 0 0 12px rgba(0, 229, 255, 0.226);
}

.nome-principal {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  color: var(--cor-texto-principal);
  font-weight: bolder;
  text-shadow: 0 0 12px rgba(0, 229, 255, 0.226);

}

.cargo {
  font-size: 1.2rem;
  font-weight: normal;
  color: var(--cor-texto-principal);
}

.paragrafo-apresentacao {
  color: var(--cor-texto-principal);
  padding-top: 5px;
}

.botao {
  padding: 0.6rem 1.2rem;
  text-decoration: none;
  font-size: 0.8rem;
  border-radius: 4px;
}

.botao-download {
  background-color: #2563EB;
  color: var(--cor-texto-principal);
  border: 1px solid #2563EB;
  font-weight: bold;
  text-shadow: 0 0 12px rgba(15, 201, 15, 0.226);
}

.botao-download:hover {
  background-color: transparent;
  border: 1px solid #2563EB;
  transition: 0.3s;
}

.botao-sobre {
  border: 1px solid var(--cor-botao-primario);
  color: var(--cor-texto-principal);
  font-weight: var(--font-medium);
}

.botao-sobre:hover {
  background-color: var(--cor-botao-primario);
}

#sobre {
  scroll-margin-top: 80px;
}

.conteudo-sobre-mim {
  display: grid;  
  gap: 1rem;
  background-color: #162238;
}

.itens-sobre {
  text-align: center;
  align-content: center;
  
  .subtitulo-secao {
    font-size: 0.8rem;
    color: var(--cor-texto-secundario);
  }

  .titulo-secao {
    font-size: 1.5rem;
    font-weight: var(--font-medium);
  }
}


.imagem-sobre {  

  .sobre-mim-imagem img {
    border-radius: 10px;
    max-width: 300px;
    aspect-ratio: 1/1;
    object-fit: cover;
    overflow: hidden;
  }
}

.texto-sobre {
  text-align: justify;
  text-justify: inter-word;
  font-size: 0.9rem;
  
}

.contato-sobre {
  padding-bottom: 1rem;
}

.botao-contato {
  background-color: var(--cor-botao-primario);
  border: 1px solid var(--cor-botao-primario);
  color: var(--cor-texto-botao-primario);
  display: inline-block;
  padding: 0.4rem;
  border-radius: 4px;
  text-decoration: none;
  padding: 0.6rem 1.2rem;
  font-size: 0.9rem;
}

.icons-sobre {
  text-decoration: none;
  color: var(--cor-texto-botao-primario);
  padding-left: 10px;
  font-size: 1.5rem;

  & :hover {
    color: aqua;
  }
}
