/*.btn-primary:hover {
  filter: brightness(1.1);
}*/

/* sm */
@media (min-width: 640px) {}

/* md */
@media (min-width: 768px) {
  .hero-content {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
  }

  
}

/* lg */
@media (min-width: 1024px) {
  .hero {
    column-gap: 4rem;
  }

  .hero-image {
    width: 320px;
  }
}

/* xl */
@media (min-width: 1280px) {}


