/* DESKTOP */
@media (min-width: 768px) {
  .nome-principal {
    font-size: 3rem;
  }

  .cargo {
    font-size: 1rem;
  }

  .botao {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .sobre-mim-grid {
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
  }
}

