@media (min-width: 768px) {
.botao-download:hover {
    background-color: transparent;
    border: 1px solid #2563EB;
    transition: 0.3s;
}

.botao-sobre:hover {
  background-color: var(--cor-botao-primario);
}

}