/* DESKTOP */
@media (min-width: 768px) {
  .nome-principal {
    font-size: 3rem;
  }

  .cargo {
    font-size: 1rem;
  }

  .botao {
    font-size: 1rem;
  }

  #home {
  position: relative;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), linear-gradient(to bottom, rgba(0, 0, 0, 0) 90%, #000 100%), url(/portfolio/assets/img/bg-desktop-main.webp) no-repeat center center / cover;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100dvh;
}

}

@media (min-width: 768px) {
  .coluna-direita {
    max-width: 60ch;
  }

  p {
    text-align: justify;
    hyphens: auto;
    
  }
  .conteudo-sobre-mim {
    padding: 0 4.5rem;
    display: grid;
    row-gap: 1rem;
    column-gap: 1.5rem;
    align-items: stretch;

    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto auto auto;

    grid-template-areas:
      "titulo titulo"
      "imagem texto"
      "imagem texto"
      "imagem contato";
  }

  .titulo-sobre { 
    grid-area: titulo;
    padding-bottom: 1rem;
  }

  .imagem-sobre { 
    grid-area: imagem; }
  .texto-sobre  { 
    grid-area: texto;
    padding: 0 1rem;
    align-items: start;
  }
  .contato-sobre { 
    grid-area: contato; 
    align-self: end;
    padding-bottom: 0.5rem;
  } 

  .imagem-sobre {
    display: flex;
    align-items: start;
    justify-content: center;
  }

  .sobre-mim-imagem img {
    height: 100%;
    object-fit: cover;
  }

}
